* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    background-color: #281a98;
    width: 100vw;
    height: 80px;
}

.logo-name {
    color: white;
    font-size: 33px;
    position: relative;
    left: 150px;
    top: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.nav-links {
    color: white;
    font-size: 19px;
    position: relative;
    left: 850px;
    bottom: 15px;
    word-spacing: 20px;
}

.img-bar {
    overflow: hidden;
}

.music-img {
    width: 100vw;
    height: 400px;
    filter: blur(4px);
    transform: scale(1.3);
}

.main-heading {
    color: white;
    font-size: 80px;
    position: relative;
    bottom: 380px;
    font-family: sans-serif;
    font-size: bold;
    text-align: center;
}

.sub-heading1 {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 360px;
    font-family: sans-serif;
    text-align: center;
}

.para-description {
    color: white;
    font-size: 15px;
    position: relative;
    bottom: 330px;
    font-family: sans-serif;
    text-align: center;
    line-height: 25px;
}

.main-content {
    background-color: #2b1e5e;
    width: 100vw;
    height: 700px;
    position: relative;
    bottom: 125px;
}

.music-icon {
    font-size: 30px;
    color: white;
    position: relative;
    left: 560px;
    top: 40px;
}

.music {
    font-size: 30px;
    color: white;
    position: relative;
    left: 600px;
    top: 2px;
    font-family: sans-serif;
}

.description1 {
    text-align: center;
    font-size: 15px;
    color: white;
    position: relative;
    top: 30px;
    font-family: sans-serif;
    line-height: 25px;
}

.red-button {
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
    position: relative;
    left: 550px;
    top: 90px;
    font-size: 12px;
    border: none;
    font-family: sans-serif;
}

.Caption {
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 104px;
    font-family: sans-serif;
}

.tab-img {
    position: relative;
    bottom: 500px;
    left: 130px;
    width: 1024px;
    height: 590px;
}

.sub-heading2 {
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 450px;
    font-family: sans-serif;
    font-weight: bold;
}

.description2 {
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 420px;
    font-family: sans-serif;
    color: rgb(76, 75, 75);
    line-height: 20px;
}

.blue-button {
    width: 110px;
    height: 35px;
    position: relative;
    bottom: 850px;
    left: 560px;
    background-color: #281a99;
    color: white;
    border: none;
}

.laptop-img {
    position: relative;
    bottom: 300px;
    left: -10px;
    width: 1030px;
    height: 500px;
}

.concert-img {
    width: 100vw;
    height: 590px;
    position: relative;
    bottom: 240px;
    filter: blur(4px);
    transform: scale(1.1);
}

.sub-heading3 {
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 700px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.description3 {
    font-size: 18px;
    color: white;
    position: relative;
    bottom: 670px;
    text-align: center;
    font-family: sans-serif;
    line-height: 23px;
}

.card-img {
   position: relative;
   bottom: 290px;
}

.sub-heading4 {
    position: relative;
    bottom: 600px;
    left: 550px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.description4 {
     position: relative;
    bottom: 570px;
    left: 550px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(76, 75, 75);
}

.description5 {
    position: relative;
    bottom: 545px;
    left: 550px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(76, 75, 75);
}

.hr-line {
    position: relative;
    bottom: 520px;
    left: 550px;
    /* height: 10px; */
    width: 550px;
}

.Redeem-btn {
    position: relative;
    bottom: 480px;
    left: 550px;
    width: 100px;
    height: 40px;
    background-color: #281b95;
    color: white;
    border: none;
    border-radius: 9px;
}

.footer-content {
    width: 100vw;
    height: 300px;
    background-color: #22166a;
    position: relative;
    bottom: 350px;
}